@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 28px;
    font-family: 'Calligraffitti', cursive;
}

body {
    background-color: #5ec8d0;
    margin: 10em;
}

.container {
    display: flex;
    background: #42a6ba;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;


}

.container2 {
    display: flex;

    background: black;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.container2 div {
    height: 10em;
    width: 10em;
    padding: 1em;
    margin: 1em;


    text-align: center;
}

input {
    background-color: #495e5e;
    width: 10em;
    height: 2em;
    padding: 0.2em;
}

.card {
    background: #3f80c5;
    border: solid 5px #54b6a6;

}

button {
    padding: 5px;
    margin: 1em;
    background-color: #60ac98;
    border-radius: 10%;
    border: solid 1px black;
    box-shadow: #3f80c5;
    color: #0b3e3e;

}

h1 {
    color: bisque;
}

li {
    color: #dcdce7
}

#container {
    background-color: #54b6a6;
    border: #3f80c5;
    margin: auto;
    margin-top: 3em;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    border: solid 10px #2a6271;
    height: 50%;
    width: 50%;
    box-shadow: 10px 5px 5px rgba(90, 185, 171, 0.59);
}

#containerTitle {
    border: #3f80c5;
    margin: auto;
    margin-top: 3em;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    border: solid 10px #2a6271;
    height: 50%;
    width: 50%;
    box-shadow: 10px 5px 5px rgba(90, 185, 171, 0.59);
    background-color: #3f80c5;
}

#iconLogin {
    margin-top: 10%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://projet.krissclotilde.com/asset/avatar-gratuit.png);
}

#email, #password {
    margin-top: 0.3em;
    background-color: #a18dcd;

}

#mdpOublie {
    margin-top: 10px;
    font-size: 20px;

}

#btnLogin {
    border-radius: 10%;
    margin-top: 0.3em;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    background-color: oldlace;
    color: #60ac98;
    padding: 0.5em;

}

#btnSignup {
    border-radius: 10%;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    background-color: oldlace;
    color: #60ac98;
    padding: 0.5em;
}
#idLabel{
    position: relative;
    left: 0;
}
body{
    background-image:url('fondTodo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-Y: -700px;

}
li{
    list-style: none;
}